#app {
    max-width: 1650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    .wrapper {
        // background-color: #262626;
        .item-wrapper {
            max-width: 300px;
            height: 600px;
            margin: 24px;
            cursor: pointer;
            display: block;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            // background-color: aqua;
            .item-image {
                img {
                    width: 300px;
                    height: 300px;
                    border: solid #262626 2px;
                    margin-bottom: 12px;
                }
            }
            .item-info {
                height: 200px;
                .item-brand {
                    font-size: 14px;
                    color: #888888;
                    padding-bottom: 4px;
                    font-family: 'Rubik', sans-serif;
                }
                h2 {
                    font-weight: bold;
                    padding-bottom: 16px;
                    font-family: 'Playfair Display', serif;
                }
                .item-price {
                    padding-bottom: 8px;
                    font-family: 'Rubik', sans-serif;
                }
                .item-reviews {
                    font-family: 'Rubik', sans-serif;
                }
            }
        }
    }
}
